body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}


img {
  max-width: 100%;
  height: auto;
}